---
---

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6, .site-title {
  font-family: 'Quicksand', Arial, sans-serif !important;
}

body {
  font-family: 'Quicksand', Arial, sans-serif !important;
}

a.button {
  background-image: none !important;
  padding-left: 1em !important; /* Adjust as needed for your new icon */
  font-family: 'Quicksand', Arial, sans-serif !important;
}
